*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */
  --font-rubik: "Rubik", sans-serif;

  /* Colors */
  /* Primary */
  /* Text */
  --color-pale-violet: hsl(276, 100%, 81%); /* subheading */
  --color-moderate-violet: hsl(276, 55%, 52%); /* chat on the left */
  --color-desaturated-dark-violet: hsl(271, 15%, 43%); /* chat on the right */
  --color-grayish-blue: hsl(206, 6%, 79%); /* placeholder text */
  --color-very-dark-desaturated-violet: hsl(
    271,
    36%,
    24%
  ); /* main heading, submit button background */
  --color-dark-grayish-violet: hsl(270, 7%, 64%); /* paragraph */

  /* Gradients */
  --color-light-magenta: hsl(293, 100%, 63%);
  --color-light-violet: hsl(264, 100%, 61%);

  /* Secondary */
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 20%, 96%); /* app background */
  --color-very-light-magenta: hsl(289, 100%, 72%); /* radio button outline */
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-rubik);
  font-size: 16px;
  overflow-x: hidden;
}

main::before,
main::after {
  content: "";
  position: absolute;
  width: 33.11vw;
  height: 46.22vw;
  z-index: -1;
}

main::before {
  top: 0;
  left: -5.7vw;
  background: linear-gradient(
    to bottom left,
    var(--color-light-magenta),
    var(--color-light-violet)
  );
  border-radius: 0 0 20em 20em;
}

main::after {
  bottom: 0;
  right: -12vw;
  background: linear-gradient(
    to top left,
    var(--color-light-violet),
    var(--color-light-magenta)
  );
  border-radius: 20em 20em 0 0;
  opacity: 0.1;
}

.mobile {
  position: relative;
  /* width: 16.4vw; */
  width: 14.76em;
  /* height: 33vw; */
  height: 29.7em;
  background-color: var(--color-white);
  top: 10.2vw;
  left: 23.6vw;
  border-radius: 1.8em;
  box-shadow: 0.3em 0.8em 3em -0.8em var(--color-dark-grayish-violet);
  padding: 0.65em;
  overflow: hidden;
}

.speaker {
  position: absolute;
  background: var(--color-white);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 1.7em;
  width: 7.6em;
  border-radius: 5em;
}

.action-bar {
  height: 4em;
  border-radius: 1.2em 1.2em 0.2em 0.2em;
  background: linear-gradient(
    to right,
    var(--color-light-violet),
    var(--color-light-magenta)
  );
  padding: 2em 1em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  box-shadow: 0 6px 10px -4px #ccc;
}

.back-arrow-btn,
.back-arrow-btn::before {
  width: 2px;
  height: 5px;
  background-color: var(--color-white);
}

.back-arrow-btn {
  position: relative;
  transform: rotate(30deg);
  top: -2px;
}

.back-arrow-btn::before {
  content: "";
  position: absolute;
  transform: rotate(110deg);
  top: 3px;
  left: 2px;
}

.user {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.user-img {
  width: 1.35em;
  height: 1.35em;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.user-name {
  color: var(--color-white);
  font-size: 0.632rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.user-status {
  color: var(--color-light-magenta);
  font-size: 0.47rem;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.menu-btn {
  position: relative;
}

.menu-btn::before {
  content: "";
  position: absolute;
  bottom: 3px;
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: 3px;
}
