*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */
  --font-rubik: "Rubik", sans-serif;

  /* Colors */
  /* Primary */
  /* Text */
  --color-pale-violet: hsl(276, 100%, 81%); /* subheading */
  --color-moderate-violet: hsl(276, 55%, 52%); /* chat on the left */
  --color-desaturated-dark-violet: hsl(271, 15%, 43%); /* chat on the right */
  --color-grayish-blue: hsl(206, 6%, 79%); /* placeholder text */
  --color-very-dark-desaturated-violet: hsl(
    271,
    36%,
    24%
  ); /* main heading, submit button background */
  --color-dark-grayish-violet: hsl(270, 7%, 64%); /* paragraph */

  /* Gradients */
  --color-light-magenta: hsl(293, 100%, 63%);
  --color-light-violet: hsl(264, 100%, 61%);

  /* Secondary */
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 20%, 96%); /* app background */
  --color-very-light-magenta: hsl(289, 100%, 72%); /* radio button outline */
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-rubik);
  font-size: 16px;
  overflow-x: hidden;
}

main::before,
main::after {
  content: "";
  position: absolute;
  width: 33.11vw;
  height: 46.22vw;
  z-index: -1;
}

main::before {
  top: 0;
  left: -5.7vw;
  background: linear-gradient(
    to bottom left,
    var(--color-light-magenta),
    var(--color-light-violet)
  );
  border-radius: 0 0 20em 20em;
}

main::after {
  bottom: 0;
  right: -12vw;
  background: linear-gradient(
    to top left,
    var(--color-light-violet),
    var(--color-light-magenta)
  );
  border-radius: 20em 20em 0 0;
  opacity: 0.1;
}

.mobile {
  position: relative;
  width: 14.76em;
  height: 29.7em;
  background-color: var(--color-white);
  top: 10.2vw;
  left: 23.6vw;
  border-radius: 1.8em;
  box-shadow: 0.3em 0.8em 3em -0.8em var(--color-dark-grayish-violet);
  padding: 0.65em;
  overflow: hidden;
}

.speaker {
  position: absolute;
  background: var(--color-white);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 1.7em;
  width: 7.6em;
  border-radius: 5em;
  z-index: 2;
}

.app {
  background-color: var(--color-light-grayish-violet);
  border-radius: 1.2em;
  overflow: hidden;
  height: 100%;
}

.action-bar {
  position: relative;
  height: 4em;
  border-radius: 0 0 0.2em 0.2em;
  background: linear-gradient(
    to right,
    var(--color-light-violet),
    var(--color-light-magenta)
  );
  padding: 2em 1em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  box-shadow: 0 6px 10px -4px #bbb;
}

.back-arrow-btn,
.back-arrow-btn::before {
  width: 2px;
  height: 5px;
  background-color: var(--color-white);
}

.back-arrow-btn {
  position: relative;
  transform: rotate(30deg);
  top: -2px;
}

.back-arrow-btn::before {
  content: "";
  position: absolute;
  transform: rotate(110deg);
  top: 3px;
  left: 2px;
}

.user {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.user-img {
  width: 1.35em;
  height: 1.35em;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.user-name {
  color: var(--color-white);
  font-size: 0.632rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.user-status {
  color: var(--color-light-magenta);
  font-size: 0.47rem;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.menu-btn {
  position: relative;
}

.menu-btn::before {
  content: "";
  position: absolute;
  bottom: 3px;
}

.menu-btn::after {
  content: "";
  position: absolute;
  top: 3px;
}

.chat {
  background-color: var(--color-light-grayish-violet);
  padding: 0.6em 0.4em;
}

.received {
  width: max-content;
  max-width: 60%;
  font-size: 0.48rem;
  background-color: #e8e8e8;
  color: var(--color-moderate-violet);
  padding: 0.65em 1em;
  border-radius: 1em;
  border-bottom-left-radius: 0.5em;
  line-height: 1.4;
  margin-bottom: 1em;
  box-shadow: 0 6px 8px -4px #ddd;
}

.spacer {
  display: block;
  margin: 1em 0;
}

.sent-img {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  margin-left: auto;
  margin-bottom: 0.5em; /* TODO */
}

.sent-img img {
  width: 2.32em;
  height: 2.32em;
  border-radius: 0.5em;
}

.sent {
  width: max-content;
  max-width: 60%;
  font-size: 0.48rem;
  background-color: var(--color-white);
  color: var(--color-desaturated-dark-violet);
  padding: 0.65em 1em;
  border-radius: 1em;
  border-bottom-right-radius: 0.5em;
  line-height: 1.4;
  margin-bottom: 1em;
  margin-left: auto;
  box-shadow: 0 6px 8px -4px #ddd;
}

.price-form-group {
  width: 75%;
  background: linear-gradient(
    to left,
    var(--color-light-violet),
    var(--color-light-magenta)
  );
  font-size: 0.45rem;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 1.1em 2em 1.1em 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  border-bottom-left-radius: 0.5em;
}

input[type="radio"] {
  opacity: 0;
}

.price-form-group label {
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price-form-group label::before,
.price-form-group label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.price-form-group label::before {
  width: 1.9em;
  height: 1.75em;
  left: -2.85em;
  border: 2px solid var(--color-very-light-magenta);
}

.price-form-group label::after {
  background: var(--color-very-light-magenta);
  width: 0.6em;
  height: 0.65em;
  top: 0.65em;
  left: -2.2em;
}

.price-form-group label span {
  font-weight: bold;
  font-size: 1.6em;
}

.new-msg-form-group {
  position: relative;
}

.new-msg-input {
  width: 100%;
  border-radius: 5em;
  position: relative;
  background-color: var(--color-white);
  border: transparent;
  outline: transparent;
  font-size: 0.55em;
  padding: 1.2em 0 1em 2em;
  bottom: -1em;
}

.new-msg-submit {
  position: absolute;
  background: var(--color-very-dark-desaturated-violet);
  border: transparent;
  outline: transparent;
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  top: 0.9em;
  right: 0.3em;
}

.new-msg-submit::before,
.new-msg-submit::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  background-color: var(--color-white);
  left: 10px;
}

.new-msg-submit::before {
  transform: rotate(130deg);
  top: 6px;
}

.new-msg-submit::after {
  transform: rotate(40deg);
  top: 9px;
}

/* Credit: [CSS-Tricks](https://css-tricks.com/almanac/selectors/p/placeholder/) */
.new-msg-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--color-grayish-blue);
}

.new-msg-input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-grayish-blue);
}

.new-msg-input:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--color-grayish-blue);
}

.new-msg-input:-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-grayish-blue);
}
