*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */
  --font-rubik: "Rubik", sans-serif;

  /* Colors */
  /* Primary */
  /* Text */
  --color-pale-violet: hsl(276, 100%, 81%); /* subheading */
  --color-moderate-violet: hsl(276, 55%, 52%); /* chat on the left */
  --color-desaturated-dark-violet: hsl(271, 15%, 43%); /* chat on the right */
  --color-grayish-blue: hsl(206, 6%, 79%); /* placeholder text */
  --color-very-dark-desaturated-violet: hsl(
    271,
    36%,
    24%
  ); /* main heading, submit button background */
  --color-dark-grayish-violet: hsl(270, 7%, 64%); /* paragraph */

  /* Gradients */
  --color-light-magenta: hsl(293, 100%, 63%);
  --color-light-violet: hsl(264, 100%, 61%);

  /* Secondary */
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 20%, 96%); /* app background */
  --color-very-light-magenta: hsl(289, 100%, 72%); /* radio button outline */
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-rubik);
  font-size: 16px;
  overflow-x: hidden;
}

main::before,
main::after {
  content: "";
  position: absolute;
  width: 33.11vw;
  height: 46.22vw;
}

main::before {
  top: 0;
  left: -5.7vw;
  background: linear-gradient(
    to bottom left,
    var(--color-light-magenta),
    var(--color-light-violet)
  );
  border-radius: 0 0 20em 20em;
}

main::after {
  bottom: 0;
  right: -12vw;
  background: linear-gradient(
    to top left,
    var(--color-light-violet),
    var(--color-light-magenta)
  );
  border-radius: 20em 20em 0 0;
  opacity: 0.1;
}
